@using StoZelisCitati.Helpers
@model string

@{
    ViewData["Title"] = "New Title";
}

@section Styles
{
    <link rel="stylesheet" href="/css/main.css">
}

<div id="center" style="justify-content: center; height: 100%; width:100%;">
    <div id="new-pub">
        <form id="pub-form" hx-post="/add-title" hx-target="#center" hx-target-error="#error-message" hx-indicator="#ind" enctype="multipart/form-data" style="display:flex; flex-direction: column; padding-top: 30px">
            <label for="title">Naziv</label>
            <input type="text" class="in" id="title" name="title" required>

            <label for="author">Autor</label>
            <input type="text" class="in" id="author" name="author" required>

            <label for="isbn">ISBN</label>
            <input type="text" class="in" id="isbn" name="isbn" required>

            <label for="publisher">Izdavač</label>
            <input type="text" class="in" id="publisher" name="publisher" required>

            <label for="type-of-publisher">Kategorija izdavača</label>
            <select class="in" id="type-of-publisher" name="typeOfPublisher">
                <option value="@PublisherType.Domestic">Domaći</option>
                <option value="@PublisherType.Foreign">Strani</option>
            </select>

            <label for="genre">Žanr</label>
            <input type="text" class="in" id="genre" name="genre" required>

            <label for="year">Godina izdanja</label>
            <input type="number" class="in" id="year" name="year" required>

            <label for="edition">Broj izdanja</label>
            <input type="text" class="in" id="edition" name="edition" required>

            <label for="description">Opis</label>
            <input type="text" class="in" id="description" name="description" required>

            <label for="language">Jezik</label>
            <input type="text" class="in" id="language" name="language" required>

            <label for="availability">Dostupnost</label>
            <select class="in" id="availability" name="availability">
                <option value="@AvailabilityType.Croatia">Hrvatska</option>
                <option value="@AvailabilityType.RelatedCountries">Srodne zemlje</option>
                <option value="@AvailabilityType.ForeignCountries">Strane zemlje</option>
            </select>

            <label for="cover-image">Slika korica</label>
            <input type="file" id="cover-image" class="in" name="coverImage" accept="image/*" required>

            <img id="ind" src="/images/bars.svg" alt="loading indicator" class="htmx-indicator">
            <p id="error-message"></p>

            <button id="pub-button" class="searchbtn" type="submit" form="pub-form">Dodaj naslov</button>
        </form>
    </div>
</div>