@using StoZelisCitati.Helpers
@model IEnumerable<Book>
@{
    ViewData["Title"] = "New Offer";
}

@section Styles
{
    <link rel="stylesheet" href="/css/main.css">
}
<div id="center" style="justify-content: center; height: 100%; width:100%;">
    <div id="new-pub">
        <form hx-post="/add-offer" hx-target="#center" hx-error-message="#error-message" hx-indicator="#ind" id="pub-form" style="display:flex; flex-direction: column; padding-top: 30px" enctype="multipart/form-data">

            <label for="title-id">Naslov</label>
            <select class="in" id="title-id" name="titleId">
                @foreach (Book book in Model)
                {
                    <option value="@book.Id">@book.Title, @book.Author</option>
                }
            </select>

            <label for="price">Cijena</label>
            <input type="number" class="in" id="price" name="price" required>

            <label for="title">Stanje</label>
            <select class="in" id="state" name="state">
                <option value="@StateType.New">Novo</option>
                <option value="@StateType.Used">Polovno</option>
            </select>

            <label for="count">Broj primjeraka</label>
            <input type="number" class="in" id="count" name="count" required>

            <img id="ind" src="/images/bars.svg" alt="loading indicator" class="htmx-indicator">
            <p id="error-message"></p>
            
            <button id="pub-button" class="searchbtn" type="submit" form="pub-form">Dodaj ponudu</button>
        </form>
    </div>
</div>