@model IEnumerable<Book>

@{
    Layout = null;
}

<ul>
    @foreach (Book book in Model)
    {
        <li>
            <p>
                Naslov: @book.Title,
                Autor: @book.Author,
                ISBN: @book.Isbn,
                Godina izdanja: @book.YearOfPublishing,
                Izdavač: @book.Publisher,
                Kategorija izdavača: @book.TypeOfPublisher,
                Broj izdanja: @book.Edition,
                Jezik: @book.Language,
                Dostupnost: @book.Availability,
                Žanr: @book.Genre
            </p>
        </li>
    }
</ul>