@model (User user, IEnumerable<Book> books)

@section Styles
{
    <link rel="stylesheet" href="/css/user.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"/>
}

@section ScriptsHead
{
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
}

<div id="center">
    <div id="left">
        <div id="pub-container">
            @foreach (Book book in Model.books)
            {
                <div id="o1" class="objava">
                    <div class="fot">
                        <img width="100%" height="100%" src="/image/@book.Id" alt="">
                    </div>
                    <div class="inf">
                        <div class="pub-left">
                            <div class="miniDiv"> naziv: @book.Title </div>
                            <div class="miniDiv"> autor: @book.Author </div>
                        </div>
                        <div class="pub-right">
                            <div class="miniDiv"> žanr: @book.Genre </div>
                            <div class="miniDiv"> izdavac: @book.Publisher </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <div id="right">
        <div id="user-container">
            <div id="user-left">
                <div id="gen-div" class="user-info">
                    <h2>Korisničko ime:</h2>
                    <p>@Model.user.Username</p>
                </div>
                <div id="name-div" class="user-info">
                    <h2>Ime ponuditelja:</h2>
                    <p>@Model.user.DisplayName</p>
                </div>
                <div class="user-info">
                    <h2>Vrsta ponuditelja:</h2>
                    <p>@Model.user.UserType</p>
                </div>
                <div id="email-div" class="user-info">
                    <h2>Email:</h2>
                    <p>@Model.user.Email</p>
                </div>
                <div id="phone-div" class="user-info">
                    <h2>Mobitel:</h2>
                    <p>@Model.user.PhoneNumber</p>
                </div>
                <div id="addy-div" class="user-info">
                    <h2>Adresa:</h2>
                    <p>@Model.user.Address, @Model.user.City, @Model.user.Country</p>
                </div>
            </div>
            <div id="user-right">
                <div id="map" style="width: 90%; height: 90%; margin-top: 3%; margin-left: 6%;">
                    <script>
                            var map = L.map('map').setView([@Model.user.Latitude, @Model.user.Longitude], 13);
                            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
                            }).addTo(map);

                            L.tileLayer('https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png', {
                                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
                            }).addTo(map);
                            
                            L.marker([@Model.user.Latitude, @Model.user.Longitude]).addTo(map)
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>